@charset "UTF-8";

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/CormorantGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/CormorantGaramond-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/CormorantGaramond-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Tajawal;
  font-display: swap;
  src: url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
  scroll-behavior: smooth;
}

body {
  color: #0f303f;
  line-height: 1;
  font-family: "Avenir Roman";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

body.blocked {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Avenir Roman";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 86rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 18px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu-actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  z-index: 5;
}

.header__buttons {
  z-index: 5;
  padding-left: 1.25rem;
}

.header__menu.is-open .menu__body {
  top: 0;
}

.header__menu.is-open .menu__body:before {
  top: 0;
}

.menu__list {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 0.625rem;
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem )) or (column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem );
       -moz-column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem );
            column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem )) or (column-gap: clamp( 0.0000000625rem , -1.3393453994rem  +  6.6967273093vw , 1.875rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 27.99875);
       -moz-column-gap: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 27.99875);
            column-gap: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 27.99875);
  }
}

@supports (padding-top: clamp( 6.25rem , 3.3810299602rem  +  16.3941145129vw , 11.25rem )) {
  .menu__list {
    padding-top: clamp( 6.25rem , 3.3810299602rem  +  16.3941145129vw , 11.25rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 3.3810299602rem  +  16.3941145129vw , 11.25rem )) {
  .menu__list {
    padding-top: calc(6.25rem + 5 * (100vw - 17.5rem) / 30.49875);
  }
}

.menu__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.menu__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gender-list__button-inactive {
  color: #b7c1c5;
}

.language-list__find-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-list__find-item input {
  margin-left: 1.25rem;
  border-bottom: 1px solid gray;
  width: 100%;
}

.products-list__button {
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: relative;
}

.products-list__button::after {
  content: "";
  display: inline-block;
  width: 0.625rem;
  height: 0.0625rem;
  background-color: #000;
  position: absolute;
  top: 8px;
  right: -21px;
}

.products-list__button::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.0625rem;
  background-color: #000;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 8px;
  right: -20px;
}

.products-list__item {
  line-height: 2;
}

.brands-menu__item {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.625rem , 0.553275749rem  +  0.4098528628vw , 0.75rem )) {
  .brands-menu__item {
    font-size: clamp( 0.625rem , 0.553275749rem  +  0.4098528628vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.553275749rem  +  0.4098528628vw , 0.75rem )) {
  .brands-menu__item {
    font-size: calc(0.625rem + 0.125 * (100vw - 17.5rem) / 30.49875);
  }
}

.burger-open-button.hide {
  display: none;
}

.burger-close-button.hide {
  display: none;
}

@media (min-width: 47.99875em) {
  .header__buttons {
    display: none;
  }

  .menu__list {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }

  .menu__list {
    padding-top: inherit;
  }

  .menu__products {
    display: none;
  }

  .menu__brands {
    display: none;
  }

  .brands-menu__item {
    font-size: inherit;
  }

  .burger-open-button {
    display: none;
  }

  .burger-close-button {
    display: none;
  }
}

@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    overflow: scroll;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    height: 3.125rem;
  }

  .menu__list {
    text-align: center;
  }

  .menu__products {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .menu__brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}