@charset "UTF-8";

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  font-display: swap;
  src: url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/CormorantGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/CormorantGaramond-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/CormorantGaramond-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Tajawal;
  font-display: swap;
  src: url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #0f303f;
  line-height: 1;
  font-family: "Avenir Roman";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Avenir Roman";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 86rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #eae9e8;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.header_nav {
  font-family: "Avenir";
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__actions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem )) or (column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem ))) {
  .menu-nav {
    -webkit-column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem );
       -moz-column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem );
            column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem )) or (column-gap: clamp( 0.0000000625rem , -0.6527530303rem  +  3.7300176732vw , 2.625rem ))) {
  .menu-nav {
    -webkit-column-gap: calc(0.0000000625rem + 2.6249999375 * (100vw - 17.5rem) / 70.375);
       -moz-column-gap: calc(0.0000000625rem + 2.6249999375 * (100vw - 17.5rem) / 70.375);
            column-gap: calc(0.0000000625rem + 2.6249999375 * (100vw - 17.5rem) / 70.375);
  }
}

.menu-nav__button {
  text-transform: uppercase;
}

.menu-nav__button_not-active {
  color: #b7c1c5;
  text-transform: uppercase;
}

.menu-nav__find-item input {
  border-bottom: 1px solid #0f303f;
  outline: none;
}

.menu-nav__find-item input:focus-within {
  border-bottom: 1px solid #e64926;
}

.language-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.actions-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-left: 78px;
}

.js-open-menu.hide {
  display: none;
}

.js-close-menu.hide {
  display: none;
}

@media (min-width: 51.25em) {
  .js-open-menu {
    display: none;
  }

  .js-close-menu {
    display: none;
  }
}

@media (max-width: 51.1875em) {
  .menu-nav {
    display: none;
  }
}

@media (max-width: 51.25em) {
  .language-menu {
    display: none;
  }
}