.menu-toggle {
}
.js-open-menu {
	@media (min-width: em(820)) {
		display: none;
	}
}
.js-open-menu.hide {
	display: none;
}
.modal-scroll {
}

.svg-svg-burger-dims {
}
.js-close-menu {
	@media (min-width: em(820)) {
		display: none;
	}
}
.js-close-menu.hide {
	display: none;
}
.svg-svg-burger-close-dims {
}
.menu-container {
}

.js-menu-container {
}
.backdrop {
}
.mobile-menu {
	// .mobile-menu__items
	&__items {
	}
	// .mobile-menu__item
	&__item {
	}
	// .mobile-menu__button
	&__button {
	}
	// .mobile-menu__find-item
	&__find-item {
	}
	// .mobile-menu__link
	&__link {
	}
	// .mobile-menu__products-menu
	&__products-menu {
	}
	// .mobile-menu__brands-menu
	&__brands-menu {
	}
}
.products-menu-mobile {
	// .products-menu-mobile__item
	&__item {
	}
	// .products-menu-mobile__cloth
	&__cloth {
	}
	// .products-menu-mobile__boots
	&__boots {
	}
	// .products-menu-mobile__bags
	&__bags {
	}
	// .products-menu-mobile__acessories
	&__acessories {
	}
	// .products-menu-mobile__underwear
	&__underwear {
	}
}
.product-menu-mobile {
	// .product-menu-mobile__link
	&__link {
	}
}
.cloth-menu-mobile {
	// .cloth-menu-mobile__item
	&__item {
	}
}
.boots-product {
	// .boots-product__item
	&__item {
	}
}
.bags-menu-mobile {
}
.bags-menu-mobile-item {
}
.acessories-mobile-menu {
	// .acessories-mobile-menu__item
	&__item {
	}
}
.underwear-mobile-menu {
}
.brands-menu-mobile {
	// .brands-menu-mobile__item
	&__item {
	}
	// .brands-menu-mobile__link
	&__link {
	}
}
