.header {
  padding: 18px 0px 18px 0px;
  border-bottom: 1px solid gray;
  // .header_nav
  &_nav {
  }

  // .header__container
  &__container {
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  // .nav-menu__logo
  &__logo {
  }

  // .nav-menu__items
  &__items {
  }

  // .nav-menu__language
  &__language {
    display: flex;
    align-items: baseline;
  }

  // .nav-menu__products
  &__products {
    display: flex;
    flex-direction: column;
  }

  // .nav-menu__brands
  &__brands {
  }

  // .nav-menu__actions
  &__actions {
  }


}



.svg-svg-logo-dims {
}

.menu-container {

  @media (max-width: em(919)) {
    position: absolute;
    top: 59px;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
  }

}

.js-menu-container {

  @media (max-width: em(919.98)) {
    display: none;
  }

}

.js-menu-container.is-open {
  display: block;
}

.backdrop {
  @media (max-width: em(920)) {
    position: relative;
    top: 0;
    left: 0;
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;



  }

  @media (min-width: em(920)) {
    display: flex;
    align-items: center;
  }
}

.menu-nav {
  order: -1;
  display: flex;
  align-items: center;
  // .menu-nav__item
  &__item {
  }

  // .menu-nav__button
  &__button {
    text-transform: uppercase;
    // .menu-nav__button_not-active
    &_not-active {
      text-transform: uppercase;
    }
  }


}


.language-menu {
  order: -1;
  // .language-menu__item
  &__item {
  }

  // .language-menu__find-item
  &__find-item {
    text-transform: uppercase;

    input {
      border-bottom: 1px solid gray;
    }
  }

  // .language-menu__link
  &__link {
  }
}



.products-menu {
flex:1 1 100%;
  text-align: center;
  // .products-menu__button
  &__button {
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

  }

  // .products-menu__item
  &__item {
    text-align: center;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 28px */
    display: none;
  }
}

.cloth-menu {
  // .cloth-menu__item
  &__item {
  }
}

.shoes-menu {
  // .shoes-menu__item
  &__item {
  }
}

.bags-menu {
  // .bags-menu__item
  &__item {
  }
}

.accesories-menu {
  // .accesories-menu__item
  &__item {
  }
}

.underwear-menu {
  // .underwear-menu__item
  &__item {
  }
}

.brands-menu {
  display: flex;
  order: 4;
  justify-content:space-around;
  align-items: center;
  // .brands-menu__item
  &__item {
    color: #254A5A;
    text-align: center;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}


.actions-nav {
  display: flex;
  // .actions-nav__menu
  &__menu {
  }
}

.svg-svg-profile-dims {
}

.svg-svg-like-dims {
}

.svg-svg-basket-dims {
}

.menu-toggle {
}

.js-open-menu {
  @media (min-width: em(920)) {
    display: none;
  }
}

.js-open-menu.hide {
  display: none;
}

.modal-scroll {
}

.svg-svg-burger-dims {
}

.js-close-menu {

}

.js-close-menu.hide {
  display: none;
}

.hide {
}

.svg-svg-burger-close-dims {
}