.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 18px 0;
  // .header__container
  &__container {
    display: flex;
    align-items: center;
  }

  // .header__logo
  &__logo {
    z-index: 5;
  }

  // .header__menu
  &__menu {

    flex: 1 1 auto;
  }


  // .header__menu-actions
  &__menu-actions {
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
    z-index: 5;
  }

  // .header__buttons
  &__buttons {
    z-index: 5;
    padding-left: rem(20);
    @media (min-width: $mobile) {
      display: none;
    }
  }
}

.svg-svg-logo-dims {
}

.header__menu.is-open .menu__body {
  top: 0;

  &:before {
    top: 0;
  }
}

.menu {
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      overflow: scroll;
      &::before {
        content: "";
        position: fixed;
        top: -100%;
        left: 0;
        transition: all 0.3s ease 0s;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        height: rem(50);
      }
    }
  }


  // .menu__list
  &__list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 30, 0, 767.98, 320);
    justify-content: center;
    align-items: center;
    padding: rem(0) rem(10);
    @include adaptiveValue("padding-top", 180, 100, 767.98);


    @media (max-width: $mobile) {
      text-align: center;
    }
    @media (min-width: $mobile) {

    }
  }

  // .menu__gender
  &__gender {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  // .menu__language
  &__language {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  // .menu__products
  &__products {

    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }


  }


  // .menu__brands
  &__brands {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      display: flex;
      column-gap: 20px;
    }
  }
}


.js-menu-container {
}

.gender-list {
  // .gender-list__item
  &__item {
  }

  // .gender-list__button
  &__button {
  }

  // .gender-list__button-active
  &__button-inactive {
    color: $disabled;
  }
}

.language-list {
  // .language-list__item
  &__item {
  }

  // .language-list__find-item
  &__find-item {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      margin-left: rem(20);
      border-bottom: 1px solid gray;
      width: 100%;
    }
  }

  // .language-list__link
  &__link {
  }
}

.products-list {

  // .product-list__wrapper
  &__wrapper.active {
    span {
      &::before {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
      }
      &::after {
        background-color: $hoverColor;
        transform: rotate(90deg);
        top: 0;
        transition: all 0.3s linear;
      }

    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;

    span {
      display: inline-flex;
      position: relative;
      width: 10px;
      height: 10px;
      background-color: transparent;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        transform: translate(-50%, -50%);
        background-color: $mainColor;
        position: absolute;
        top: 45%;
        left: 50%;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s linear;

      }

      &::after {
        content: "";
        width: 2px;
        height: 100%;
        display: block;
        transform: translate(-50%, -50%);
        background-color: $mainColor;
        transition: all 0.3s linear;
        position: absolute;
        top: 45%;
        left: 50%;
      }
    }
  }

  // .products-list__button
  &__button {
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }


  // .products-list__item
  &__item {
    line-height: 2;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;

  }
}

.products-list__item.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}


.cloth-menu {
  // .cloth-menu__item
  &__item {
  }
}

.shoes-menu {
  // .shoes-menu__item
  &__item {
  }
}

.bags-menu {
  // .bags-menu__item
  &__item {
  }
}

.accesories-menu {
  // .accesories-menu__item
  &__item {
  }
}

.underwear-menu {
  // .underwear-menu__item
  &__item {
  }
}

.brands-menu {

  // .brands-menu__item
  &__item {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 12, 10, 767.98);


  }
}

.actions-list {
  // .actions-list__item
  &__item {
  }
}

.svg-svg-profile-dims {
}

.svg-svg-like-dims {
}

.svg-svg-basket-dims {
}

.burger-open-button {
  @media (min-width: $mobile) {
    display: none;
  }
}

.burger-open-button.hide {
  display: none;
}

.js-open-menu {
}

.svg-svg-burger-dims {
}

.burger-close-button {
  @media (min-width: $mobile) {
    display: none;
  }
}

.burger-close-button.hide {
  display: none;
}


.js-close-menu {
}

.hide {
}

.svg-svg-burger-close-dims {
}



