.header {
	// .header_nav
	&_nav {
	}
	// .header__container
	&__container {
	}
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// .nav-menu__logo
	&__logo {
	}
	// .nav-menu__items
	&__items {
	}
	// .nav-menu__language
	&__language {
	}
	// .nav-menu__actions
	&__actions {
	}

	&__actions-wrapper {
		display: flex;
	}
}
.svg-svg-logo-dims {
}
.menu-nav {
	display: flex;
	// .menu-nav__item
	&__item {
	}
	// .menu-nav__button
	&__button {
	}
	// .menu-nav__find-item
	&__find-item {
	}
}
.language-menu {
	display: flex;
	// .language-menu__item
	&__item {
	}
	// .language-menu__link
	&__link {
	}
}
.actions-nav {
	display: flex;
	// .actions-nav__menu
	&__menu {
	}
}
.svg-svg-profile-dims {
}
.svg-svg-like-dims {
}
.svg-svg-basket-dims {
}
